<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop</title>
    <link rel="stylesheet" href="/static/crop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>



    <!-- The navigation menu -->
    <div class="bg1">

      <div class="navbar1">
          <div class="navbarDiv1">
              <h1>DataMarkIt</h1>
          </div>

          <div class="navbarDiv1 slideOption1">
              <a href="{{url_for('home')}}">Home</a>
              <div class="subnav1">
                  <button class="subnavbtn1"> Features <i class="fa fa-caret-down"></i></button>
                  <div class="subnav-content1">
                      <a href="{{url_for('all')}}">All Masks</a>
                      <a href="{{url_for('crop')}}">Selection Segmentation</a>
                      <a href="{{url_for('video')}}">Video</a>
                      <a href="{{url_for('bg_change')}}">Background Change</a>
                      <a href="{{url_for('bg_remove')}}">Background Remove</a>
                      <a href="{{url_for('Mmask')}}">Manual Mask</a>
                      <a href="{{url_for('all_wmask')}}">All White Masks</a>

                  </div>
              </div>
              <a href="{{url_for('history')}}">History</a>
              
              <a href="{{url_for('logout')}}">Logout</a>
          </div>

          <!-- The overlay -->

          

              <!-- Overlay content -->
              <div id="myNav1" class="overlay1">

                  <!-- Button to close the overlay navigation -->
                  <a href="javascript:void(0)" class="closebtn1" onclick="closeNav()">&times;</a>

                  <!-- Overlay content -->
                  <div class="overlay-content1">
                      <a href="{{url_for('home')}}">Home</a>
                      <a href="{{url_for('all')}}">All Masks</a>
                      <a href="{{url_for('crop')}}">Selection Segmentation</a>
                      <a href="{{url_for('video')}}">Video</a>
                      <a href="{{url_for('bg_change')}}">Background Change</a>
                      <a href="{{url_for('bg_remove')}}">Background Remove</a>
                      <a href="{{url_for('Mmask')}}">Manual Masks</a>
                      <a href="{{url_for('all_wmask')}}">All White Masks</a>
                      <a href="{{url_for('history')}}">History</a>
                      <a href="{{url_for('logout')}}">Logout</a>
                  </div>

              </div>

              <!-- Use any element to open/show the overlay navigation menu -->
              <div onclick="openNav()" class="openSlide1">
                  <img src="/static/images/menuIcon.png" alt="">
              </div>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="{{ category }}" id="flash-message">
          <div>
              {{ message }}
          </div>
          <div>
              <img src="/static/images/close.svg" alt="" id="close-btn">
          </div>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}



    {%if flag==1%}
      <form action="/crop_res" method="POST" enctype="multipart/form-data">
        <img src="{{url_for('display_image_crop',filename=filename)}}" alt="">
        <input type="hidden" id="cropped" name="input" value="{{filename}}" />
        <button type="submit" id="submit">Submit</button>
      </form>
    {% elif flag==2 %}
    <a href="{{url_for('display_image_crop_res',filename=filename)}}" download="">
      <img src="{{url_for('display_image_crop_res',filename=filename)}}" alt="">
      <button>Download</button>
    </a>
    {% else %}
      <form action="/cropimage" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="cropped" name="croppedImage" />
        <input type="file" id="fileInput" name="image"/>
        <br />
        <canvas id="canvas"></canvas>
        <br />
        <button type="submit" id="cropButton">Crop</button>
      </form>
    {% endif %}



    <script>
      const canvas = document.getElementById("canvas");
      const ctx = canvas.getContext("2d");
      let image = new Image();
      let startX, startY, endX, endY, isDrawing = false;

      canvas.addEventListener("mousedown", (e) => {
        startX = e.clientX - canvas.offsetLeft;
        startY = e.clientY - canvas.offsetTop;
        isDrawing = true;
      });
      canvas.addEventListener("mousemove", (e) => {
        if (!isDrawing) return;
        endX = e.clientX - canvas.offsetLeft;
        endY = e.clientY - canvas.offsetTop;
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(image, 0, 0);
        ctx.strokeRect(startX, startY, endX - startX, endY - startY);
      });
      canvas.addEventListener("mouseup", (e) => {
        endX = e.clientX - canvas.offsetLeft;
        endY = e.clientY - canvas.offsetTop;
        isDrawing = false;
      });

      document.getElementById("fileInput").addEventListener("change", (e) => {
        const reader = new FileReader();
        reader.onload = (event) => {
          image.src = event.target.result;
          image.onload = () => {
            canvas.width = image.width;
            canvas.height = image.height;
            ctx.drawImage(image, 0, 0);
          };
        };
        reader.readAsDataURL(e.target.files[0]);
      });

      document.getElementById("cropButton").addEventListener("click", async () => {
        const croppedCanvas = document.createElement("canvas");
        croppedCanvas.width = endX - startX;
        croppedCanvas.height = endY - startY;
        const croppedCtx = croppedCanvas.getContext("2d");
        croppedCtx.drawImage(
          image,
          startX,
          startY,
          endX - startX,
          endY - startY,
          0,
          0,
          endX - startX,
          endY - startY
        );
        const croppedImage = croppedCanvas.toDataURL("image/png");
        document.getElementById("cropped").value = croppedImage;
        await new Promise(resolve => setTimeout(resolve, 100));
        document.querySelector("form").submit();
      });
      


      const closeBtn = document.getElementById('close-btn1');
        const flashMessage = document.getElementById('flash-message');

        closeBtn.addEventListener('click', function () {
            flashMessage.remove();
        });

        function openNav() {
            document.getElementById("myNav1").style.width = "100%";
        }

        /* Close when someone clicks on the "x" symbol inside the overlay */
        function closeNav() {
            document.getElementById("myNav1").style.width = "0%";
        }

        function dropdownOpen() {

            dropdown = document.getElementById("dropdown-container1");
            if (dropdown.style.display == 'block')
                dropdown.style.display = 'none';
            else
                dropdown.style.display = 'block';
        }

    </script>

</body>
</html>
