<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <a href="{{url_for('Mmask')}}">Manual</a>
    <a href="{{url_for('all_wmask')}}">All White Masks</a>
    <a href="{{url_for('all')}}">All Masks</a>
    <a href="{{url_for('crop')}}">Selection</a>
    <a href="{{url_for('video')}}">Video</a>
    <a href="{{url_for('bg_change')}}">Bg Change</a>
    <a href="{{url_for('bg_remove')}}">Bg Remove</a>
</body>
</html>
