{% extends 'boilerplate.html' %}

{% block title %}Manual Mask Generator{% endblock %}

{% block content %}

<svg style="display:none;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="shape_freehand">
      <title>Polygon region shape</title>
      <path
        d="M 15.25,2.2372 C 14.8,5.5 12.5,6.5 11.5,8 C 9.5,10.5 8.3,11.3 7,12.5 C 5.5,13.7 3.9,15.3 3.625,16.6122 C 3.4,18.3 4.3,21 6,22 C 8,23.5 11.5,21.5 14,20 C 16.5,18.5 18,17.5 19,16.5 C 20,15.5 21.5,14.5 22.5,13.5 C 23.5,12.5 23.8,11.3 24.5,10.5 C 25.2,9.7 26.5,8.5 26.5,7.5 C 26.5,6.5 25.7,4.5 23.5,3 C 21.5,1.5 19,2.5 15.25,2.2372 z"
        stroke-width="2"></path>
    </symbol>
    <symbol id="shape_polyline">
      <title>Polyline region shape</title>
      <path d="M 2,12 10,24 18,12 24,18" stroke-width="2"></path>
      <circle r="1" cx="2" cy="12" stroke-width="2"></circle>
      <circle r="1" cx="10" cy="24" stroke-width="2"></circle>
      <circle r="1" cx="18" cy="12" stroke-width="2"></circle>
      <circle r="1" cx="24" cy="18" stroke-width="2"></circle>
    </symbol>
  </defs>
</svg>

{%if flag==1 %}

<div class="mainDivWmask">
  <div class="wrapperWmask">
    <h1>Manual Mask Generator</h1>
    <h1>Output</h1>
    <div>
      <div>
        <img src="{{url_for('display_manual',filename=filename)}}" alt="">
        <a href="{{url_for('display_manual',filename=filename)}}" download=""><button class="cropButton">Download
          </button></a>
      </div>

      <div>
        <img src="{{url_for('display_manual_res',filename=filename)}}" alt="">
        <div>
          
          <a href="{{url_for('display_manual_res',filename=filename)}}" download=""><button
              class="cropButton">Download</button></a>
        </div>
      </div>

    </div>
  </div>
</div>


{%else%}

<div class="mainDivManual">
  <div class="wrapperDivManual">
    <div class="heading">
      <h1>Manual Mask Generator</h1>
    </div>
    <div class="heading">
      <h1>Upload a file</h1>
    </div>

    <div class="chooseFileManual">

      <form id="coordinatesForm" action="/mask_upload" method="POST" enctype="multipart/form-data">
        <label for="imageLoader" id="label">
          <h2>Drag files here or click to choose files.</h2>
        </label>
        <input type="file" id="imageLoader" name="imageLoader" class="inputManual"/>
        <canvas id="imageCanvas"></canvas>

        <div id="icons">
          <svg id="freehand" height="32" onclick="temp1(); changeColor(1)" style="fill: white; stroke:black"
            viewBox="0 0 32 32">
            <use xlink:href="#shape_freehand"></use>
          </svg>
          <svg id="polyline" height="32" onclick="temp2(); changeColor(2)" style="fill: white; stroke:black"
            viewBox="0 0 32 32">
            <use xlink:href="#shape_polyline"></use>
          </svg>
          <button id="submitBtn" onclick="submitForm(event)" class="cropButton">Submit</button>
        </div>
        
        
        <input type="hidden" id="coordinatesInput" name="coordinates">


      </form>
    </div>

  </div>

</div>

{% endif %}

<script>
  function changeColor(x) {
    if (x == 1) {
      document.getElementById("freehand").style.stroke = "red";
      document.getElementById("polyline").style.stroke = "black";
    }
    if (x == 2) {
      document.getElementById("polyline").style.stroke = "red";
      document.getElementById("freehand").style.stroke = "black";
    }

  }

  var canvas = document.getElementById('imageCanvas');
  var ctx = canvas.getContext('2d');

  // Initialize variables
  var drawing = false;
  var coordinates = [];
  var currentPolyline = [];
  var polylineCounter = 0;
  // Add event listener to the file input
  var imageLoader = document.getElementById('imageLoader');
  imageLoader.addEventListener('change', loadImage);

  // Add event listeners to the canvas

  canvas.addEventListener('click', addPoint);
  // Add event listener to the submit button
  var submitBtn = document.getElementById('submitBtn');
  submitBtn.addEventListener('click', sendData);

  // Load the image into the canvas
  function loadImage(event) {
    var image = new Image();
    image.onload = function () {
      canvas.width = image.width;
      canvas.height = image.height;
      canvas.style.display = "block";
      // canvas.style.width = "90%";
      // canvas.style.height = "90%";
      document.getElementById("submitBtn").style.display = "flex";
      document.getElementById("icons").style.display = "flex";
      document.getElementById("label").style.display = "none";
      ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
    };
    image.src = URL.createObjectURL(event.target.files[0]);
  }
  function temp1() {
    canvas.removeEventListener('click', addPoint)
    canvas.addEventListener('mouseup', endDrawing);
    canvas.addEventListener('mousedown', startDrawing);
    canvas.addEventListener('mousemove', draw);

  }
  function startDrawing(event) {
    drawing = true;
    var x = event.offsetX;
    var y = event.offsetY;
    currentPolyline.push({ x: x, y: y });
  }

  // Draw the polyline
  function draw(event) {
    if (!drawing) return;
    if (currentPolyline.length > 0) {
      // Get the current mouse position on the canvas and push it into the currentPolyline array
      const mouseX = event.offsetX;
      const mouseY = event.offsetY;
      currentPolyline.push({ x: mouseX, y: mouseY });


      // Draw the current polyline on the canvas
      ctx.beginPath();
      ctx.strokeStyle = 'white'
      ctx.moveTo(currentPolyline[0].x, currentPolyline[0].y);
      for (let i = 1; i < currentPolyline.length; i++) {
        ctx.lineTo(currentPolyline[i].x, currentPolyline[i].y);
      }
      ctx.stroke();
    }
  }

  // End drawing the polyline
  function endDrawing(event) {
    drawing = false;
    const firstPoint = currentPolyline[0];
    const lastPoint = currentPolyline[currentPolyline.length - 1];
    const distanceThreshold = 10; // Adjust as needed
    const distance = Math.sqrt(Math.pow(firstPoint.x - lastPoint.x, 2) + Math.pow(firstPoint.y - lastPoint.y, 2));
    if (distance < distanceThreshold) {
      polylineCounter++;
      if (!coordinates[polylineCounter]) coordinates[polylineCounter] = [];
      for (let i = 0; i < currentPolyline.length; i++) {
        coordinates[polylineCounter].push(currentPolyline[i]);
      }
      currentPolyline = [];
    }
  }
  function temp2() {
    canvas.addEventListener('click', addPoint);
    canvas.removeEventListener('mouseup', endDrawing);
    canvas.removeEventListener('mousedown', startDrawing);
    canvas.removeEventListener('mousemove', draw);

  }
  function addPoint(event) {
    var x = event.offsetX;
    var y = event.offsetY;
    currentPolyline.push({ x: x, y: y });
    drawP();
  }
  function drawP() {
    // Draw all the previous polylines
    if (currentPolyline.length > 0) {
      let lastPoint = currentPolyline[currentPolyline.length - 1];
      ctx.beginPath();
      ctx.arc(lastPoint.x, lastPoint.y, 5, 0, 2 * Math.PI);
      ctx.strokeStyle = 'white';
      ctx.fillStyle = 'white';
      ctx.lineWidth = 2;
      ctx.fill();
      ctx.stroke();
    }

    // Draw the current polyline
    if (currentPolyline.length > 1) {
      ctx.beginPath();
      ctx.moveTo(currentPolyline[0].x, currentPolyline[0].y);
      for (let i = 1; i < currentPolyline.length; i++) {
        ctx.lineTo(currentPolyline[i].x, currentPolyline[i].y);
      }
      ctx.stroke();
    }
    endDrawingP();
  }
  function endDrawingP(event) {
    // If the current polyline has at least 3 points, add it to the coordinates and clear the current polyline
    const firstPoint = currentPolyline[0];
    const lastPoint = currentPolyline[currentPolyline.length - 1];
    const distanceThreshold = 10; // Adjust as needed
    const distance = Math.sqrt(Math.pow(firstPoint.x - lastPoint.x, 2) + Math.pow(firstPoint.y - lastPoint.y, 2));
    if (distance < distanceThreshold && currentPolyline.length > 1) {
      console.log("In the end")
      currentPolyline.push(currentPolyline[0]); // add the first point again to close the polygon
      if (currentPolyline.length > 0) {
        let lastPoint = currentPolyline[currentPolyline.length - 1];
        ctx.beginPath();
        ctx.arc(lastPoint.x, lastPoint.y, 5, 0, 2 * Math.PI);
        ctx.strokeStyle = 'white';
        ctx.fillStyle = 'white';
        ctx.lineWidth = 2;
        ctx.fill();
        ctx.stroke();
      }

      // Draw the current polyline
      if (currentPolyline.length > 1) {
        ctx.beginPath();
        ctx.moveTo(currentPolyline[0].x, currentPolyline[0].y);
        for (let i = 1; i < currentPolyline.length; i++) {
          ctx.lineTo(currentPolyline[i].x, currentPolyline[i].y);
        }
        ctx.stroke();
      }
      polylineCounter++;
      if (!coordinates[polylineCounter]) coordinates[polylineCounter] = [];
      for (let i = 0; i < currentPolyline.length; i++) {
        coordinates[polylineCounter].push(currentPolyline[i]);
      }
      ctx.beginPath();
      ctx.moveTo(currentPolyline[0].x, currentPolyline[0].y);
      for (let i = 1; i < currentPolyline.length; i++) {
        ctx.lineTo(currentPolyline[i].x, currentPolyline[i].y);
      }
      ctx.stroke();
      currentPolyline = [];
    }

  }
  // Start drawing the polyline


  // Send the data to the Flask backend
  function submitForm(event) {
    event.preventDefault();
    document.getElementById('coordinatesInput').value = JSON.stringify(coordinates);
    document.getElementById('coordinatesForm').submit();
  }
</script>

{% endblock %}